<h1>Hello to my page!</h1>
<div>
    <%= link_to 'About me', about_path %> 
</div>

<%= link_to 'Articles listing', articles_path %> |
<%= link_to 'Student Progress Reports', student_progress_reports_path %>