<div id="<%= dom_id student_progress_report %>">
  <p>
    <strong>Student name:</strong>
    <%= student_progress_report.student_name %>
  </p>

  <p>
    <strong>Feedback:</strong>
    <%= student_progress_report.feedback %>
  </p>

</div>
