<% content_for :title, "Editing student progress report" %>

<h1>Editing student progress report</h1>

<%= render "form", student_progress_report: @student_progress_report %>

<br>

<div>
  <%= link_to "Show this student progress report", @student_progress_report %> |
  <%= link_to "Back to student progress reports", student_progress_reports_path %>
</div>
