<p style="color: green"><%= notice %></p>

<% content_for :title, "Student progress reports" %>

<h1>Student progress reports</h1>

<div id="student_progress_reports">
  <% @student_progress_reports.each do |student_progress_report| %>
    <%= render student_progress_report %>
    <p>
      <%= link_to "Show this student progress report", student_progress_report %>
    </p>
  <% end %>
</div>

<%= link_to "New student progress report", new_student_progress_report_path %>
